<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="layouts :: header"></head>
    <nav th:replace="layouts :: navbar"></nav>
    <body>
        <div>
            <h4>Current Project</h4>
            <div>
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>Project Name</th>
                        <th>Project Stage</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="aProject : ${projects}">
                        <td th:text="${aProject.name}"></td>
                        <td th:text="${aProject.stage}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h4>Current Employees</h4>
            <div>
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>Employee First Name</th>
                        <th>Employee Last Name</th>
                        <th>Employee Email Address</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="employee : ${employees}">
                        <td th:text="${employee.firstName}"></td>
                        <td th:text="${employee.lastName}"></td>
                        <td th:text="${employee.email}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>

</html>
